:root {
    --dark: #2b2b2b;
    --dark-lighter: #383838;
    --light: #ffffff;
    --light-darker: #eeeeee;
}



body {
    color-scheme: light dark;
    font-family: monospace, sans-serif;
    font-size: larger;
    color: light-dark(var(--dark), var(--light));
    background-color: light-dark(var(--light), var(--dark));
    display: block;
    margin: 0;
    padding: 0;
}

main {
    /* display: flex; */
    /*         align-self: center; */
    /* align-items: center; */
    /* flex-direction: column; */
    /*         margin: auto; */

}

.container {
    width: 50%;
    margin: auto;
}


nav {
    position: sticky;
    /* Key property */
    top: 0;
    /* Sticks when reaching this distance from viewport top */
    z-index: 1000;
    background-color: light-dark(var(--light), var(--dark));
    /* Stay above content */
    /* margin: auto; */
    /* width: 70%; */
    display: flex;
    align-items: stretch;
    /* Make it a flex container */
    justify-content: space-between;
    /* Or space-around/space-evenly for different gap feel */
}

nav * {
    /* Or specifically a and h3 */
    display: flex;
    /* Make each child a flex container */
    align-items: center;
    /* Vertically center its content */
    justify-content: center;
    /* Horizontally center (reinforces text-align) */
}

nav a {
    flex-grow: 2;
    border: 1vh solid light-dark(var(--light-darker), var(--dark-lighter));
    color: light-dark(var(--dark), var(--light));
    padding: 1vh;
    /* height: 100%; */
    text-decoration: none;
}

nav a.current {
    border-color: light-dark(var(--dark), var(--light));
}

nav h3 {
    flex-grow: 1;
    text-align: center;
}

.variables {
    width: 100%;
}

.variables th,
.variables td {
    border: 0.4vh solid light-dark(var(--dark), var(--light));

}

img {
    width: 100%;
    /* padding: 0; */
}

@media (orientation: portrait) {
  .container {
    width: 96%;
  }
  nav a {
    padding: 0;
    border-width: 0.5vh;
  }
  nav * {
    font-size: xx-large;
  }
}