 body {
     color-scheme: light dark;
     font-family: monospace, sans-serif;
     font-size: larger;
     color: light-dark(#2b2b2b, #ffffff);
     background-color: light-dark(#ffffff, #2b2b2b);
 }

 main {
     display: flex;
     /*         align-self: center; */
     align-items: center;
     flex-direction: column;
     /*         margin: auto; */

 }

 .container {
     width: 50%;
 }

 header {
     display: flex;
     flex-direction: row;
     align-items: center;
     height: 8vh;
     margin-bottom: 10vh;
 }

 header>h3 {
     text-align: center;
     width: 20%;
     margin: 0;
 }

 nav {
     /* inner */
     /* justify-items: center; */
     width: 100%;
 }

 nav table {
     width: 100%;
 }

 nav th {
     border: 1vh solid light-dark(#2b2b2b, #ffffff);
     padding: 1vh;
     height: 100%;
     /* width: 100%; */
 }

 nav a {
     text-decoration: none;
     color: light-dark(#2b2b2b, #ffffff);
 }

 .variables {
     width: 100%;
 }

 .variables th,
 .variables td {
     border: 0.4vh solid light-dark(#2b2b2b, #ffffff);

 }

 img {
    width: auto;
    padding: 0;
 }